<footer class="container-fluid bg-light">
<div class="row">
<section class="col">
    Collonne 1
</section>
<section class="col">
    Collonne 2
</section>
<section class="col">
    Collonne 3
</section>
</div>
</footer>